body {
    padding-top: 145px;
    background-image: url(banner.png);
    background-repeat: no-repeat;

    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}
.menu { text-align: right; overflow: visible;
  margin: 0;
  margin-left: 630px;
  min-width: 240px;
  max-width: 382px;
  height: 4px;
  border-top: 4px solid black;
}
.menu div { height: 18em; padding-right: 1em;
  border-width: 4px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image: -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image: -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image: -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
  border-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}
#banner { position: absolute; left: 10px; top: 0px; }
#banner h1 { margin-bottom: 0; }
#banner p { margin: 0; }
#banner a { color: black; font-size: 1.5em; }

article { max-width: 40em; }
p { margin-left: 0.5em; }
h1 { font-size: 2em; margin-top: 0; }
h2 { font-size: 1.1em }

figure { display: inline-block; vertical-align: bottom; padding: 0; margin: 0.5em }
figure, figure img { max-width: 150px; }
figcaption { height: 3.5em; }

/* bar charts */
.bar,
.bar-o { fill: #bbbbbb; }
.bar-M { fill: #0000ff; }
.bar-m { fill: #bbbbff; }
.bar-F { fill: #ff0000; }
.bar-f { fill: #ffbbbb; }

